.dark-green{
    color: darkgreen; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.family{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.line-height{
    line-height: 25px;
    position: relative;
    left: 20px;
}
a:hover {
    text-decoration: underline; // changed from text:decoration:none
 }
 img {
    float: left;
  }